html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  min-height: 0;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.app-header {
  height: 50px;
  text-align: center;
}

